StorageAccount-Terraform/.terraform/terraform.tfstate
StorageAccount-Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.18.0/darwin_arm64/terraform-provider-azurerm_v3.18.0_x5
StorageAccount-Terraform/.terraform.lock.hcl
StorageAccount-Terraform/azure.conf
StorageAccount-Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.19.0/darwin_arm64/terraform-provider-azurerm_v3.19.0_x5
